<!-- templates/friendrequest/friendrequest.html -->
{% extends 'base_pages.html' %}

{% block title %}Add new comment{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'upload/upload.css' %}">

<!--This is the friend request page
    This is for testing honestly, not final
    Will just be a JS/AJAX button instead down the road -->
<h1>Add new comment</h1>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="comment btn btn-primary" value="Comment">
</form>
{% else %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}