<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<header>
    <div class="container">
    <a href="/">
      <h1 class="logo">
          <!-- <img src="" alt="logo" > -->
        <img src="{% static 'img/logo.png' %}" alt="logo" width=150px height=40px>
      </h1>
    </a>
      <!-- if the user is not authenticated, it cannot grab a username  -->
      {% if user.is_authenticated %}
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'profile' username=user.username %}">Me</a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="www.runescape.com">RUNESCAPE</a></li>
        </ul>
      </nav>
      {% endif %}
    </div>
  </header>
<body>
  <main>
    <div class="grid-container">
     
      <div class="item2">Menu</div>

      <div class="item3">
        {% block content %}
            Main 
        {% endblock %}
      </div>
      <div class="item4">Right
          {% if user.is_authenticated %}
          <p class="links"><a href="/upload/">Create a post</a></p>
          <p class="links"><a href="{% url 'editprofile' pk=user.pk %}">Edit your profile</a></p>
          <p class ="links"><a href="/friendrequest/">Make a friend request</a></p>
          <p class="links"><a href="{% url 'logout' %}">logout</a></p>
          <h1 style= "font-size: 1em"> <strong>Friends</strong>  </h1>
        
          {% for friend in friends %}
            {% if user.id == friend.friend_a_id %}
                
              <p> <a href="{% url 'profile' username=friend.friend_b %}">{{friend.friend_b}}</a></p>
              <a href ="{% url 'delete_friend' pk=friend.pk %}"> <button type="button" class="btn btn-default">Remove Friend</button></a>
            {% endif %}
          {% endfor %}
          
        {% endif %}
      </div>
      <div class="item5">Footer

      </div>
    </div>
      

 

  </main>
</body>
</html>