<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<header>
    <div class="container">
    <a href="/">
      <h1 class="logo">
          <!-- <img src="" alt="logo" > -->
        <img src="{% static 'img/logo.png' %}" alt="logo" width=150px height=40px>
      </h1>
    </a>
      {% if user.is_authenticated %}
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <!-- this might break everything, not sure why but it failed once and I had to delete the entire line -->
          <li><a href="{% url 'profile' username=user.username %}">Me</a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="www.runescape.com">RUNESCAPE</a></li>
        </ul>
      </nav>
      {% endif %}
    </div>
  </header>
<body>
  <main>
    <div class="grid-container">
     
      <div class="item2">Menu</div>

      <div class="item3">
        {% block content %}
            Main 
        {% endblock %}
      </div>
      <div class="item4">Right
          {% if user.is_authenticated %}
          <p class="links"><a href="upload/">Create a post</a></p>
          <p class="links"><a href="profile/edit/">Edit your profile</a></p>
          <p class ="links"><a href="friendrequest/">Make a friend request</a></p>
          <p class="links"><a href="{% url 'logout' %}">logout</a></p>
        {% endif %}
      </div>
      <div class="item5">Footer

      </div>
    </div>
      

 

  </main>
</body>
</html>