<!-- templates/upload/upload.html -->
{% extends 'base.html' %}

{% block title %}Create a Post{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'upload/upload.css' %}">

<!--This is the upload page
    The user should be able to input a status into a text box
    The text box should support plaintext and markdown
    The user should be able to upload an image
    The user should be able to select privacy from a radio selector
    The user should have a submit button to submit -->
<h1>Create a post</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Post">
</form>
{% else %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}