{% extends '../base.html' %}
{% block content %}
{% if user.is_authenticated %}
 
  {{friend}}
  {% if user.id == object.friend_a_id %}
  <br>
  <p> Are you sure you want to remove '{{object.friend_b}}' as a friend?</p>

  <form method ="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger"> Yes, I'm sure.</button>
  </form>
  {% else %}
      <p>You do not have access to this page.</p>
{% endif %}
{% else %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
    <p>You are not logged in</p>
    <p><a href="{% url 'signup' %}">Sign Up</a></p>
    <p><a href="{% url 'login' %}">Log In </a></p>
  {% endif %}
{% endblock %}
