<!-- templates/friendrequest/friendrequest.html -->
{% extends 'base.html' %}

{% block title %}Send friend request{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'upload/upload.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}">
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!--This is the friends page
      In the future this will probably be on the users profile page
      But again, this is like the first iteration of the thingy, proof of concept
      The accept and ignore buttons should use AJAX to send/ignore the request
      Then refresh the dom/friend list
      -->
  <h1 class="section-header friendtitle">Friend Requests</h1>
  {% for r in requests %}
    <div>
      <p class="friends"><a class="friendsp" href="{% url 'profile' username=r.username %}">{{ r.displayname }}</a>
      <button type="button" class="addfriend btn btn-secondary">Accept</button>
      <button type="button" class="removefriend btn btn-danger">Ignore</button>
      </p>
      <hr class="separator">
      <script type="text/javascript">
        $(document).ready(function() {
          console.log("does this work?");
          const Url = "http://127.0.0.1:8000/friendrequest/processRequest";
          var authorID = "{{request.user.id}}";
          var requestorID = "{{r.id}}";
          var csrftoken = getCookie('csrftoken');
          $(".addfriend").click(function() {
            console.log("add this friend");
            var data = {
              "action": "ACCEPT",
              "IdOfLoggedInUser": authorID,
              "IdOfFriendToAddOrDeny": requestorID,
            };
            var jsonData = JSON.stringify(data);
            $.ajax({
              url: Url,
              type: "POST",
              data: jsonData,
              contentType: "application/json",
              success: function(result){
                console.log("time to remove this row");
                removeRequest(requestorID);
              },
              beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
              }
            })
          })
          $(".removefriend").click(function() {
            console.log("remove this friend");
          });
        });

        function removeRequest(friend) {
          console.log("let's remove this request now");
          $("addfriend"+friend+"_box").remove();
        }
        
        // https://docs.djangoproject.com/en/1.10/ref/csrf/#ajax
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
      </script>
    </div>    
  {% endfor %}
  
  </br>
  <h1 class="section-header friendtitle">Friends</h1>
  {% for friend in friendsObj %}
    <!-- this should be a hyperlink to their profile -->
    {% if user.id == friend.friend_a_id %}

              
    <div>
        <p class="friends"> <a class="friendsp" href="{% url 'profile' username=friend.friend_b %}">{{friend.friend_b.displayname}}</a>
          <a class=friendshref href ="{% url 'delete_friend' pk=friend.pk %}"> 
              <button type="button" class="btn btn-danger btn-xs friendsbutton">Remove</button>
          </a>
        </p>
     
    </div>
    {% endif %}
  {% endfor %}
{% else %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

