<!-- templates/friendrequest/friendrequest.html -->
{% extends 'base.html' %}

{% block title %}Send friend request{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'upload/upload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}">
    <meta charset="utf-8">
    
    <div class="one-main-column">
      <div class="col s12">
        <h1 style="font-size: 45px; margin-bottom:15px;">Friends</h1>
        {% for friend in friendsObj %}
          {% if user.id == friend.friend_a_id %}   
            <div class="row">
              <div>
                <div class="col s8">
                  <p class="friendrow" style="font-size: 20px;"> <a class="friendsp" href="{% url 'profile' username=friend.friend_b %}">{{friend.friend_b.displayname}}</a></p>
                </div>
                <div class="col s4">
                  <div class="center">
                    <a class=friendshref href ="{% url 'delete_friend' pk=friend.pk %}">
                        <button class="btn waves-effect waves-light friendsbutton" type="submit" name="action" style="background-color: #34495e; margin-left: 20px;" onMouseOver="this.style.color='#f4f7f7'" onMouseOut="this.style.color='#f4f7f7'">Remove
                        </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col s12">
        <hr>
        <h1 style="font-size: 45px; margin-top: 15px; margin-bottom:15px;">Requests</h1>
        {% for r in requests %}
          <div class="row" style="margin-bottom:0px" id="{{r.id}}_row">
            <p class="friends">
              <div class="col s8">
                <a class="friendsp" style="font-size: 20px;" href="{% url 'profile' username=r.username %}">{{ r.displayname }}</a>
              </div>
              <div class="col s2">
                <div class="right">
                  <div class="row" style="display: inline-block">
                    <a class="addfriend btn-floating btn-small waves-effect waves-light" 
                    id={{r.id}}
                    style="background-color: rgb(57, 190, 57);">
                    <i class="material-icons">check</i></a>
                  </div>
                </div>
              </div>
              <div class="col s2">
                <div class="center">
                  <div class="row" style="display: inline-block">
                      <a class="ignorefriend btn-floating btn-small waves-effect waves-light" 
                      id={{r.id}}
                      style="background-color: rgb(235, 45, 45)">
                      <i class="material-icons">clear</i></a>
                  </div>
                </div>
              </div>
            </p>
          </div>    
        {% endfor %}
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        // const Url = "http://connectifyapp.herokuapp.com/friendrequest/processRequest";
        const Url = "http://127.0.0.1:8000/friendrequest/processRequest";
        var authorID = "{{request.user.id}}";
        var requestorID;
        var csrftoken = getCookie('csrftoken');

        $(".addfriend").click(function() {
          requestorID = this.id;
          var data = {
            "action": "ACCEPT",
            "IdOfLoggedInUser": authorID,
            "IdOfFriendToAddOrDeny": requestorID,
          };
          var jsonData = JSON.stringify(data);
          $.ajax({
            url: Url,
            type: "POST",
            data: jsonData,
            // dataType: "jsonp",
            contentType: "application/json",
            success: function(result){
              console.log("added");
              moveRequest(requestorID);
            },
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log(errorThrown);
            }
          })
        })

        $(".ignorefriend").click(function() {
          requestorID = this.id;
          // delete request
          var data = {
            "action": "DENY",
            "IdOfLoggedInUser": authorID,
            "IdOfFriendToAddOrDeny": requestorID,
          };

          var jsonData = JSON.stringify(data);
          $.ajax({
            url: Url,
            type: "POST",
            data: jsonData,
            // dataType: "jsonp",
            contentType: "application/json",
            success: function(result){
              console.log("removed");
              removeRequest(requestorID);
            },
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log(errorThrown);
            }
          })
          // this should call removeRequest after as well
        });
      });
  
      // called on ignore request to delete the entire row 
      function removeRequest(requestorID) {
        $("#"+requestorID+"_row").remove();
      }

      // called on accept request to move the row and delete the buttons
      function moveRequest(requestorID) {
        $("#"+requestorID+"_row").appendTo($(".friendrow"));
        // delete the add and ignore buttons from the row
        $("#"+requestorID).remove();
        $("#"+requestorID).remove();
      }
      
      // https://docs.djangoproject.com/en/1.10/ref/csrf/#ajax
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
    </script>
  {% endif %}
{% endblock %}