<!-- templates/registration/login.html -->
{% extends 'base_pages.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
<div class="container">
  <div class="col s4 offset-s4">
    <br>
    <h3>Login</h3>
    {% if messages %}
      <script>
        {% for message in messages %}
          alert('{{message}}');
        {% endfor %}
      </script>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <button class="btn waves-effect waves-light" 
        type="submit" name="action" style="background-color: #34495e" 
        onMouseOver="this.style.color='#f09177'" onMouseOut="this.style.color='#f4f7f7'">
        LOGIN
      </button>
    </form>
    <div class="center" style="margin-top:25px; font-size: 15px;">
      <p>Don't have an account?
      <a href="{% url 'signup' %}">Sign up</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
