<!-- templates/signup.html -->
{% extends 'base_pages.html' %}

{% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'signup/signup.css' %}">
  
{% block content %}
  <div class="container">
      <div class="row">
        <div class="col s8 offset-s2">
          <h2 class="center">Sign up</h2>
          <form method="post">
            {% csrf_token %}
            <!-- <table > -->
              {{ form.as_p }}
            <!-- </table> -->
            <div class="center">
              <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color: #34495e; margin-top:25px;" onMouseOver="this.style.color='#f09177'" onMouseOut="this.style.color='#f4f7f7'">Sign up
              </button>
            </div>
          </form>
        </div>
      </div>
  </div>
  <div class="" style="margin-bottom:5%;"></div>
{% endblock %}