<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}">
    <h1 id="greeting">Hi {{ user.username }}!</h1>
    {% for p in post reversed %}
      <div class="row">
        <div class="panel panel-default">
          {% load tz %}
          <div class="puser">{{p.author}} (privacy option: {{p.privacy_setting}}) <div class="timePub">{{p.published|timezone:"America/Edmonton"}}</div> </div>
          {% if user.id == p.author_id %}
          <p class="delete_post">
                
              <a href="{% url 'delete_post' pk=p.pk  %}"><span class="glyphicon glyphicon-trash"> </a>
            </p>
          {% endif %}
          <div class="panel-body">
              <p class="ptitle">{{p.title}} </p>
              <p class="pbody">{{p.body}}</p>
              {% if p.image_link != "" %}
              {% load static %}
              <!--CSS should ensure images fit within a certain size
                  Atleast when they are being displayed on the homepage -->
              <img class= "pimage" src="{% get_media_prefix %}{{ p.image_link }}">
              {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
{% else %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
    <p>You are not logged in</p>
    <p><a href="{% url 'signup' %}">Sign Up</a></p>
    <p><a href="{% url 'login' %}">Log In </a></p>
  {% endif %}
{% endblock %}