p{
    color:rgb(8, 8, 8);
    /* text-align: center; */
    margin:auto;
    font-size: 20px
    
}
.panel-heading{
  font-size: 20px;
  text-align:left;
}
.links{
  text-align: center ;
}
.puser{
  font-size: 20px;
  color:black;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
}
.ptitle{
  font-size: 25px;
  color:rgb(43, 43, 43);
  text-align: left;
  padding-left: 2%;
  
}
.pbody{
  font-size: 20px;
  color:rgb(43, 43, 43);
  text-align: left;
  padding-left: 5%;
}
.pimage{
  width:500px;
  height:300px;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
#greeting{
  text-align: left;
}

.item2 { grid-area: menu; }
.item3 { 
  grid-area: main;
  z-index:2;
}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  
  font-size: 30px;
 
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.delete_post{
  float: right;
}
