:root{
  --dark-main: #34495e;
  /* --dark-main: #01579b; */
  --light-main: #f4f7f7;
  --light-card: #f1f6ff;
  --dark-secondary: #5da0a2;
  --light-secondary: #aacfd0;
  --orange-color: #da6342;
  --beige-color: #e9dcd3;
  --letter-grey: #afaeae;
  --links-color: #3e81c4;
}
* { padding: 0; margin: 0; }
html, body {
  background-color: var(--light-main);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: var(--links-color);
}
a:hover {
  color: var(--orange-color);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--dark-main);
  font-size: 25px;
}

/* -------------------- HEADER -------------------- */
header {
  background: var(--dark-main) !important;
  position: sticky !important;
  top: 0;
  z-index: 10;
}
.mainlogo {
  margin-left: 2.5%;
  /* width: 11%; */
  height: 50%;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
nav {
  background-color: var(--dark-main) !important;
  padding: 0px 10px 10px 10px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  padding-top: 15px;
  position: relative;
}
nav a, a:active, a:visited, a:focus {
  color: var(--light-main) !important;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: var(--orange-color);
}
nav a:visited {
  color: var(--light-main);
  text-decoration: none;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--light-main);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
.dropdown-content {
  width: 250px !important;
  color: var(--light-main) !important;
  background-color: var(--dark-main) !important;
  padding-top: 10px;
  margin-right: 10px;
}
.dropdown-content a {
  color: var(--light-main) !important;
  text-transform: uppercase;
}
.dropdown-content a:hover {
  background-color: var(--orange-color) !important;
}
.dropdown-content i.material-icons {
  color: var(--light-main) !important;
  margin-right: 0;
}
.sidenav {
  width: 250px;
  color: var(--light-main) !important;
  background-color: var(--dark-main);
}
.sidenav a {
  color: var(--light-main) !important;
  text-transform: uppercase;
}
.sidenav a:hover {
  background-color: var(--orange-color) !important;
}
.sidenav i.material-icons {
  color: var(--light-main) !important;
}
.sidenav-overlay {
  z-index: 0 !important;
}
/* -------------------- PAGE OUTLINE -------------------- */
.leftcolumn {   
  float: left;
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 83vh;
}
.rightcolumn {
  float: right;
  width: 25%;
  padding-right: 50px;
  position: sticky !important;
  top: 10%;
  z-index: 2;
}
.one-main-column {   
  float: left;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 83vh;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Footer */
.footer {
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  /* position: sticky; */
  text-align: center;
  background: var(--dark-main);
}
.footer p {
  padding-top: 13px;
  color: var(--light-main);
  font-size: 15px !important;
}
/* Responsive layout */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .rightcolumn {
    padding-top: 10%;
  }
}

/* -------------------- POSTS AND COMMENTS -------------------- */
#mainpost {
  padding-bottom: 30px;
  background-color: var(--light-card);
}
#maincomments hr {
  height:1px; 
  border:none; 
  background-color: var(--light-card); 
  width:82%; 
  text-align:center; 
  margin: 0 auto;
  margin-bottom: 5px;
}
.ptitle{
  font-size: 20px;
  color:rgb(43, 43, 43);
  text-align: left;
  word-wrap: break-word;
  display: block;
}
.puser,.commentUser{
  font-size: 11px;
  color:black;
  text-align: left;
  display: inline-block;
}
.timePub, .commentDate{
  font-size: 11px;
  color: #657786;
  display: inline-block;
  padding-left: 10px;
}
.pbody{
  font-size: 15px;
  color:rgb(43, 43, 43);
  text-align: justify;
  word-wrap: break-word;
}
#post-image-body{
  padding-right: 10px;
}
.pimage_parent {
  position: relative;
  top: 0;
  left: 0;
}
#pimage{
  z-index: 1;
  width:100px;
  height:100px;
  position: relative;
  object-fit: contain;
  top: 0;
  left: 0;
}
/* #pimage{
  z-index: 2;
  width:100px;
  height:100px;
  position: absolute;
  object-fit: contain;
}
#pimage_bg{
  top: 0;
  left: 0;
  z-index: 1;
  width:100px;
  height:100px;
  object-fit: cover;
  position: relative;
  filter: blur(10px);
  -webkit-filter: blur(10px) !important;
} */
.commentBody{
  text-align: left;
  padding-left: 8px;
  font-size: 17px;
  word-wrap: break-word;
  font-size: 15px;
  margin-bottom: 0;
}
.nocomments {
  font-size: 13px;
  color: #657786;
  text-align: center;
  padding-left: 4%
}
.card .row {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}
.delete_post{
  float: right;
  padding-top: 7px;
}

/* -------------------- OTHERS -------------------- */
.displayname{
  color: #14171a;
  text-align: left;
  margin-top: 2.5%;
  font-size: 25px;
  display: inline-block;
}
.username{
  color: #657786;
  text-align: left;
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  margin-top: 2%;
  padding-left: 5px;
}
.collection-item .delete_friend{
  padding-top: 10px;
}
.upload {
  padding-bottom: 100px !important;
}
.upload .create-post {
  padding-bottom: 100px !important;
}

/* ---------- NEXT PART HERE ---------- */
li hr {
  height:1px; 
  border:none; 
  background-color: var(--light-card); 
  width:82%; 
  text-align:center; 
  margin: 0 auto;
  margin-bottom: 5px;
}
.page-bottom {
  padding-bottom: 10%;
}
ul.dropdown-content.select-dropdown {
  width:100% !important;
  min-width: 230px;
}
ul.dropdown-content.select-dropdown li span {
  color: var(--light-main) !important;
}