:root{
    --dark-main: #34495e;
    --light-main: #f4f7f7;
    --dark-secondary: #5da0a2;
    --light-secondary: #aacfd0;
}

body {
    background-color: var(--light-main);
}
p {
    color:var(--dark-main);
}

.confirmation {
    margin-top: 10%;
    font-weight: 300;
}

.delete-button {
    margin-left: 25%;
}