{% extends 'base.html' %}

{% block title %}{{author.username}}'s profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}">
    <div class="center">
      <div class="displayname" style="margin-top: 30px;">{{author.displayname}}</div>
      <div class="username">(@{{author.username}})</div>
      {% if author.bio != "" and author.bio != NONE %}
        <div class="bio" style="color: #5e5c5c; margin-top: 5px; margin-bottom: 30px; font-size: 17px; font-style: italic">
            {{author.bio}}
          <i class="material-icons tiny">chat</i> 
        </div>
      {% endif %}
    </div>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header" style="font-size: 17px;"><i class="material-icons">portrait</i>More about {{author.displayname}}</div>
        <div class="collapsible-body">
          {% load static %}
          <div class="row" style="font-size: 15px; line-height: 25px;">
            <div class="col s12 m4 l4"><b>First Name: </b><br> {{ author.first_name }} </div>
            <div class="col s12 m4 l4"><b>Last Name: </b><br> {{ author.last_name }} </div>
            <div class="col s12 m4 l4"><b>Email: </b><br> {{ author.email }} </div>
            <div class="col s12" style="margin:10px;"><hr></div>
            <div class="col s12 m4 l4"><b>GitHub Username: </b><br> {{ author.github_id }}</div>
            <div class="col s12 m4 l4"><b>GitHub URL: </b><br> {{ author.github_url }}</div>
            {% if author.host != "" %}
              <div class="col s12 m4 l4"><b>Host: </b><br> {{ author.host }}</div>
            {% else %}
            <div class="col s12 m4 l4"><b>Host: </b><br>Connectify</div>
            {% endif %}
          </div>
        </div>
      </li>
    </ul>
    <hr>
    {% for p in posts  %}
    <div class="">
        <div class="card" id="post-top">
          <div class="row z-depth-1" id="mainpost">
            {% load tz %}
            <br>
            {% if p.image_link != "" and p.image_link != NONE %}
              <div class = "row">
                <div class="col s11">
                  <span class="ptitle">
                    <a href="post/{{ p.id }}">
                      {{p.title}}
                    </a>
                  </span>
                  <div class="puser">
                    <a href="{% url 'profile' username=p.author %}">{{p.author.displayname}}</a>
                    <div class="timePub">{{p.published|timezone:"America/Edmonton"}}</div>
                  </div>
                </div>
                <div class="col s1">
                  {% if user.id == p.author_id %}
                    <p class="delete_post">
                      <a href="{% url 'update_post' pk=p.pk  %}"><span class="glyphicon glyphicon-pencil"> </a>
                        <a href="{% url 'delete_post' pk=p.pk  %}"><span class="glyphicon glyphicon-trash"> </a>
                    </p>
                  {% endif %}
                </div>
                <div class = "row" id="post-body">
                  <div class="col s12">
                    <img id= "pimage" class="materialboxed" src="{% get_media_prefix %}{{ p.image_link }}" align="right" style="margin-left: 20px;">
                    <!-- <img id= "pimage_bg" class="" src="{% get_media_prefix %}{{ p.image_link }}"> -->
                    <p class="pbody">{{p.body|safe|linebreaks}}</p>
                  </div>
                </div>
              </div>
            {% else %}
              <div class = "row">
                <div class="col s11">
                  <span class="ptitle">
                    <a href="post/{{ p.id }}">
                      {{p.title}}
                    </a>
                  </span>
                  <div class="puser"><a href="{% url 'profile' username=p.author %}">{{p.author.displayname}}</a>
                  <div class="timePub">{{p.published|timezone:"America/Edmonton"}}</div></div>
                </div>
                <div class="col s1">
                  {% if user.id == p.author_id %}
                    <p class="delete_post">
                      <a href="{% url 'update_post' pk=p.pk  %}"><span class="glyphicon glyphicon-pencil"> </a>
                      <a href="{% url 'delete_post' pk=p.pk  %}"><span class="glyphicon glyphicon-trash"> </a>
                    </p>
                  {% endif %}
                </div>
              </div>
              <div class = "row" id="post-body">
                <div class="col s12">
                  <p class="pbody">{{p.body|safe|linebreaks}}</p>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="panel-body" id="maincomments">
            <a href="{% url 'comment' pk=p.pk %}" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">comment</i></a>
            {% for comment in p.comments.all %}
              <div class=row>
                <div class="col s12">
                  <p class="commentBody">{{comment.body|safe|linebreaks}} </p>
                  <div class="col s12">
                    <p class="commentUser">
                      <a href="{% url 'profile' username=comment.author %}"> {{comment.author.displayname}}</a>
                      <p class="commentDate">{{comment.datetime}} </p>
                    </p>
                  </div>
                </div>
              </div>
              <hr>
            {% empty %}
                <p class="nocomments">There are currently no comments.</p>
            {% endfor %}
          </div>
        </div>
        <br>
      </div>
    {% endfor %}
    <div class="page-bottom"></div>
{% endif %}
{% endblock %}